[Unit]
Description=SentinelStack application stack
After=default.target

[Service]
Type=exec
WorkingDirectory=/home/webapps/sentinelstack
Environment=DOCKER_HOST=unix:///run/user/10501/docker.sock
ExecStart=docker compose up --remove-orphans
ExecStop=docker compose down
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
